<a href="https://colab.research.google.com/github/aerix-sanghoon/hongong9th/blob/main/%ED%98%BC%EA%B3%B5%EB%B6%84%EC%84%9D_4%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gdown
gdown.download('https://bit.ly/3736JW1','ns_book6.csv',quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:01<00:00, 34.1MB/s]

'ns_book6.csv'

In [ ]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv',low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [ ]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
sum(ns_book6['도서권수']==0)

3206

In [ ]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]
ns_book7.describe()

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
25%    104488.250000    2003.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
75%    302346.750000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
ns_book7.describe(percentiles=[0.3,0.6,0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [ ]:
ns_book7['대출건수'].mean()

11.593438968070707

In [ ]:
ns_book7['대출건수'].median()

6.0

In [ ]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [ ]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

In [ ]:
ns_book7['대출건수'].min()

0

In [ ]:
ns_book7['대출건수'].max()

1765

In [ ]:
# 책에서는 ns_book6 변수의 데이터를 사용하고 있으나, 도서권수가 0으로 실제로 존재하지 않는 
# 도서 데이터를 제거한 ns_book7 변수의 데이터를 사용하는 것이 맞을것 같다.
# 물론 결과의 차이는 없다.
ns_book7['대출건수'].quantile(0.25)

2.0

In [ ]:
# 여기도 ns_book7의 변수 값을 사용하는 것이 맞을 것 같다.
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [ ]:
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

In [ ]:
pd.Series([1,2,3,4,5]).quantile(0.9,interpolation='midpoint')

4.5

In [ ]:
pd.Series([1,2,3,4,5]).quantile(0.9,interpolation='nearest')

5

In [ ]:
borrow_10_flag = ns_book7['대출건수'] < 10
borrow_10_flag.mean()

0.6402712530190833

In [ ]:
ns_book7['대출건수'].quantile(0.65)

10.0

In [ ]:
ns_book7['대출건수'].var()

371.69563042906674

In [ ]:
ns_book7['대출건수'].std()

19.279409493785508

In [ ]:
import numpy as np
diff = ns_book7['대출건수']-ns_book7['대출건수'].mean()
np.sqrt(sum(diff**2)/(len(ns_book7)-1))

19.27940949382766

In [ ]:
ns_book7['도서명'].mode()

0    승정원일기
dtype: object

In [ ]:
ns_book7['발행년도'].mode()

0    2012.0
dtype: float64

In [ ]:
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [ ]:
ns_book7.loc[:,'도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [ ]:
ns_book7.to_csv('ns_book7.csv',index=False)

In [ ]:
import numpy as np
np.mean(ns_book7['대출건수'])

11.593438968070707

In [ ]:
np.average(ns_book7['대출건수'],weights=1/ns_book7['도서권수'])

10.543612175385386

In [ ]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445774

In [ ]:
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

In [ ]:
np.median(ns_book7['대출건수'])

6.0

In [ ]:
# 책에서는 판다스의 min과 max 함수를 사용하는 방법을 설명하고 있기 때문에 numpy의
# 함수를 사용하는 것으로 예제를 진행
np.min(ns_book7['대출건수'])

0

In [ ]:
# 책에서는 판다스의 min과 max 함수를 사용하는 방법을 설명하고 있기 때문에 numpy의
# 함수를 사용하는 것으로 예제를 진행
np.max(ns_book7['대출건수'])

1765

In [ ]:
np.quantile(ns_book7['대출건수'],[0.25,0.5,0.75])

array([ 2.,  6., 14.])

In [ ]:
np.percentile(ns_book7['대출건수'],25)

2.0

In [ ]:
np.var(ns_book7['대출건수'])

371.6946438971496

In [ ]:
ns_book7['대출건수'].var()

371.69563042906674

In [ ]:
ns_book7['대출건수'].var(ddof=0)

371.6946438971496

In [ ]:
np.var(ns_book7['대출건수'], ddof=1)

371.69563042906674

In [ ]:
np.std(ns_book7['대출건수'])

19.27938390865096

In [ ]:
values, counts = np.unique(ns_book7['도서명'],return_counts = True)
max_idx = np.argmax(counts)
values[max_idx]

250

'승정원일기'

In [ ]:
# 252페이지 문제 3
a = [1,10,3,6,20]
np.var(a)

45.2

In [ ]:
# 252페이지 문제 3
np.std(a)

6.723094525588644

In [ ]:
# 252페이지 문제 3

pd.Series([1,10,3,6,20]).var()

56.5

In [ ]:
# 252 페이지 문제 3
pd.Series([1,10,3,6,20]).std()

7.516648189186454

In [ ]:
#253 페이지 문제 4번

ns_book7[['출판사','대출건수']].groupby('출판사').mean().sort_values(by='대출건수',ascending=False).head(10)

                       대출건수
출판사
동녁라이프            224.000000
와이비엠시사           215.000000
환상               210.000000
두앤비컨텐츠(랜덤하우스중앙)  167.000000
개미들출판사-에셀문화사     157.000000
해커스 어학 연구소       149.500000
Test clinic      137.000000
마야출판사            133.333333
해밀 & Co.         133.000000
마그나(Magna)       130.000000

In [ ]:
# 253페이지 문제5번

target_range = list(ns_book7['대출건수'].quantile([0.25,0.75]))
target_bool_idx = (ns_book7['대출건수']>=target_range[0]) & (ns_book7['대출건수']<=target_range[1])
target_bool_idx.sum()/len(ns_book7)*100

51.51737134060568